

.navbar-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    // border: 1px solid blue;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    position: fixed;
    z-index: 2;
    background-color: white;
    

    .left {
        // border: 1px solid red;
        width: 80%;
        display: flex;
        align-items: center;

        .section-name {
            margin: 0px 0px 0px 100px;
            font-size: 24px;
            font-weight: bold;
            color: #24dfad;
        }
    }

    .right {
        // border: 1px solid red;
        width: 20%;
        display: flex;
        align-items: center;
        gap: 10px;

        .notification {
            position: relative;
            width: 40px;
            // border: 1px solid red;

            .count {
                position: absolute;
                height: 12px;
                width: 12px;
                background-color: orange;
                border-radius: 50%;
                top: -3px;
                left: 10px;
                color: white;
            }
        }

        .user-info {
            display: flex;
            align-items: center;
            // border: 1px solid red;
            gap: 8px;

            .avatar-pic {
                img {
                    width: 40px;
                }
            }

            .details {
                .fullname {
                    font-weight: 500;
                    font-size: 13px;
                }
                .role {
                    font-style: italic;
                    color: #8c8c8c;
                    font-size: 11px;
                }
            }
        }
    }
}